<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Aurelia app</title>
  <link rel="shortcut icon" href="static/aurelia.favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='static/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6,es7&flags=gated" crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/Marak/faker.js/master/build/build/faker.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <div aurelia-app='main'></div>
</body>
</html>
